@import "../../shared-imports/mixins";


/*** ICONS ***/
.jw-icon-audio-tracks {
    &:before {
        content: "\e600";
    }
}

.jw-icon-buffer {
    &:before {
        content: "\e601";
    }
}

.jw-icon-airplay {
    &:before {
        content: "\e901";
    }

    &.jw-off:before {
        content: "\e901";
    }
}

.jw-icon-cc {
    &:before {
        content: "\e605";
    }
}

.jw-icon-error {
    &:before {
        content: "\e607";
    }
}

.jw-icon-fullscreen {
    background-image: url("../../../assets/SVGs/fullscreen.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    &.jw-off {
        background-image: url("../../../assets/SVGs/fullscreen-not.svg");
    }
}

.jw-icon-hd {
    &:before {
        content: "\e60a";
    }
}

.jw-rightclick-logo {
    &:before {
        content: "\e60b";
    }
}

.jw-icon-next {
    background-image: url("../../../assets/SVGs/next.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.jw-icon-pause {
    background-image: url("../../../assets/SVGs/pause.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.jw-icon-play {
    background-image: url("../../../assets/SVGs/play.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.jw-icon-replay {
    &:before {
        content: "\e610";
    }
}

.jw-icon-volume {
    background-image: url("../../../assets/SVGs/volume-100.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    &.jw-off {
        background-image: url("../../../assets/SVGs/volume-0.svg");
    }
}

.jw-icon-close {
    &:before {
        content: "\e615";
    }
}

.jw-icon-rewind {
    background-image: url("../../../assets/SVGs/rewind-10.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
