@import "../../shared-imports/mixins";

.jw-icon {
    fill: #00FF00;
    font-family: "jw-icons";
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    background-color: transparent;
    font-variant: normal;
    /* font-smoothing is a private setting not transformed by PostCSS */
    -webkit-font-smoothing: antialiased;
    /* OSX Firefox specific style for improving legibility */
     -moz-osx-font-smoothing: grayscale;
}

/*** ICONS ***/
.jw-icon-audio-tracks {
}

.jw-icon-buffer {
}

.jw-icon-airplay {
    background-image: url("../../../assets/SVGs/airplay-on.svg");

    &.jw-off {
        background-image: url("../../../assets/SVGs/airplay-off.svg");
    }
}

.jw-icon-cc {
    background-image: url("../../../assets/SVGs/captions-on.svg");

    &.jw-off {
        background-image: url("../../../assets/SVGs/captions-off.svg");
    }
}

.jw-icon-error {
    &:before {
        content: "\e607";
    }
}

.jw-icon-fullscreen {
    background-image: url("../../../assets/SVGs/fullscreen.svg");

    &.jw-off {
        background-image: url("../../../assets/SVGs/fullscreen-not.svg");
    }
}

.jw-icon-hd {
    &:before {
        content: "\e60a";
    }
}

.jw-rightclick-logo {
    &:before {
        content: "\e60b";
    }
}

.jw-icon-next {
    background-image: url("../../../assets/SVGs/next.svg");
}

.jw-icon-pause {
}

.jw-icon-play {
}

.jw-icon-replay {
    background-image: url("../../../assets/SVGs/replay.svg");
}

.jw-icon-volume {
    background-image: url("../../../assets/SVGs/volume-100.svg");

    &.jw-off {
        background-image: url("../../../assets/SVGs/volume-0.svg");
    }
}

.jw-icon-close {
    background-image: url("../../../assets/SVGs/close.svg");
}

.jw-icon-rewind {
}
